.advantages {
  max-height: 470px;
  padding: 70px 0 75px 0;
  background-color: #f6f6f6;
  &__items {
    @include flex-row;
    align-items: start;
    margin-top: 65px;
    @include media-tablet {
      justify-content: space-evenly;
      margin-top: 30px;
    }
    @include media-mobile {
        @include flex-column;
        align-items: center;
        margin-top: 5px;
      }
  }
  &__item {
    @include flex-column;
    width: 300px;
    align-items: center;
    @include font(14px, 300, normal, #0d0d0d);
    span {
      @include font(18px, 700, bold, #0d0d0d);
      margin-top: 38px;
      @include media-mobile {
        @include font(14px, 300, normal, #0d0d0d);
        margin: 0 auto;
        margin-top: 10px;
      }
    }
    a {
      text-decoration: underline;
      color: #ff0000;
      @include media-mobile {
        display: none;
      }
    }
    @include media-tablet {
      width: 200px;
    }
    @include media-mobile {
      padding: 0;
    }
  }
  &__descr {
    @include media-mobile {
      display: none;
    }
  }
  &__icon {
    &_animated {
      animation: heartbeat 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  @include media-tablet {
    padding: 20px 0 20px 0;
  }
}
