.header {
    @include flex-row;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
        @include media-tablet {
            padding-left: 12px;
        }
    }
    &__official {
        @include font(12px);
        text-align: center;
        span {
            display: block;
            font-size: 18px;
            font-weight: 700;
        }
        @include media-tablet {
            display: none;
        }
    }
    &__phone {
        display: block;
        @include font(18px, 700, bold);
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
    &__contacts {
        @include flex-column;
        @include media-tablet {
            padding-right: 12px;
        }
        @include media-mobile {
            align-items: center;
            margin-top: 12px;
        }
    }
    @include media-mobile {
        @include flex-column;
        align-items: center;
    }

}